@use "../base/mixins" as *;
@use "../base/variables" as *;

@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }   
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .portfolio {
        padding-top: 30px;
    }
    
    .contacts {
        &__wrapper {
                padding: 0;
                grid-template-columns: 390px 560px;     
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,275px);
        }
    }
    }
@media (max-width: 992px) {
    
    .container {
        max-width: 720px;
    }
    .promo {
        padding-top: 115px;
    }
    .about {
        &__title {
            font-size: 33px;
        }
        &__main {
            &::after {
                right: -50%;
            }
        }
    }

    .portfolio {
        &__content {
            grid-template-columns: minmax(110px, 380px) minmax(360px, 450px);
        }
        &__preview {
            width: 430px;
            &-img {
                max-width: 100%;
            }
        }
    }
    
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 615px;
            justify-content: left;
        }
        &__content {
            &::after {
                right: 30%;
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 95%;
    }
    .title {
        &_fz48{
            font-size: 35px;
            line-height: 43px;
        }
    }
  
    .promo {
        min-height: unset;
        height: 90vh;
        padding-top: 110px;

        
        &__link {
            font-size: 14px;
            margin-top: 15px;
        }
        &__portrait {
            top: unset;
            height: 90%;
            bottom: 0;
        }
    }
    .about {
        min-height: unset;
        height: 260px;
        padding-top: 5px;
        &__title {
            font-size: 30px;
        }
        &__main {
            width: 80%;
            &::after {
                right: 25%;
            }
            &-descr {
                font-size: 28px;
            }
        }
        &__info {
            &-descr {
                font-size: 11px;
                line-height: 17px;
            }
        }
    }
   
    .portfolio {
        &__subtitle {
            margin-top: 0;
            line-height: 25px;
        }
        &__content {
            display: flex;
        }
    
        &__preview {
            width: 100%;
        }
    }
    
   
    .contacts {
        &__subtitle {
            margin: 0;
            line-height: 25px;
        }
        &__headline {
            font-size: 21px;
        }
        &__content {
            margin: 10px 0 0 0;
            padding: 15px 0;
            &::after {
                right: 20%;
            }
        }
    }
}
@media (max-width: 576px) {
    .title {
        &_fz36 {
            font-size: 23px;
        }
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48{
            font-size: 35px;
        }
    }
    
    .promo {
        height: 90vh;
        min-height: unset;
        padding-top: 20%;
        &__title {
            line-height: 41px;

        }
        &__btns {
            margin-top: 10px;
        }
       
        &__portrait {
            overflow: hidden;
            bottom: 0;
            right: -30px;
        }
    }
    .about {
        height: calc(100% + 30px);
        &__title {
            font-size: 24px;
        }
        &__main {
            &::after {
                display: none;

            }
            &-descr {
                font-size: 23px;
            }
        }
        &__info {
            &-descr {
                line-height: 13px;
                font-size: 8px;
            }
        }
    }
    
    .portfolio {
        padding-top: 90px;
        &__list {
            margin-top: 0;
            display: none;
            opacity: 0;
        }
        &__subtitle {
            text-align: right;
        }
        &__project {
            &-button {
                font-size: 22px;
                
            }
            &.active {
                margin: 5px 0;
                span {
                    font-size: 25px;
                }
            }
        }
        &__content {
            flex-direction: column;
            padding: 0;
        }
        &__preview {
            margin-top: 10px;
            &-img {
                width: 90%;
                object-fit: cover;
            }
        }
    }
   
    .contacts {
        padding-top: 90px;
        min-height: unset;
        height: 100%;
        &__subtitle {
        display: none;
        }
        &__headline {
            margin-top: 15px;
            font-size: 23px;
        }
        &__content {
            margin: 0;
            &::after {
                display: none;
            }
        }
}
   
}