@use "../base/mixins" as *;
@use "../base/variables" as *;

@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }   
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .portfolio {
        padding-top: 30px;
    }
    
    .contacts {
        &__wrapper {
                padding: 0;
                grid-template-columns: 390px 560px;     
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,275px);
        }
    }
    }
@media (max-width: 992px) {
    
    .container {
        max-width: 720px;
    }
    .promo {
        padding-top: 70px;
        &__content {
            margin-left: 40px;
        }
    }
    .about {
        &__title {
            font-size: 33px;
        }
        &__main {
            &::after {
                right: -50%;
            }
        }
        
    }

    .portfolio {

        &__content {
            grid-template-columns: minmax(110px, 380px) minmax(360px, 450px);
        }
        &__preview {
            min-height: 530px;
            width: 430px;
            &-img {
                max-width: 100%;
            }
        }

    }
    
    .contacts {

        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 615px;
            justify-content: left;
        }
        &__content {
            &::after {
                right: 30%;
            }
        }

    }
}
@media (max-width: 768px) {
    .container {
        max-width: 95%;
    }
    .title {
        &_fz48{
            font-size: 41px;
            line-height: 43px;
        }
    }
  
    .promo {
        min-height: unset;
        height: 100vh;
        padding-top: 50px;
        
        &__link {
            font-size: 16px;
            margin-top: 15px;
        }
        &__portrait {
            top: unset;
            bottom: 0;
        }
        &__content {
            margin-left: 30px;
            margin-top: 30px;
        }
    }
    .about {
        min-height: unset;
        height: 260px;
        padding-top: 5px;
        &__title {
            font-size: 30px;
        }
        &__main {
            width: 80%;
            &::after {
                right: 25%;
            }
            &-descr {
                font-size: 28px;
            }
        }
        &__info {
            &-descr {
                font-size: 11px;
                line-height: 17px;
            }
        }
    }
   
    .portfolio {
        &__subtitle {
            margin-top: 20px;
            line-height: 25px;
        }
        &__content {
            display: flex;
            flex-direction: column;
        }
        &__list {
            flex-direction: row;
            justify-content: space-around;
            margin-top: 25px;
        }
        &__project {
            &.active {
                &:before {
                    left: -20px;
                }
                margin: 0 0px;
            }
        }
        &__preview {
            margin-top: 20px;
            width: 100%;
        }
    }
    
   
    .contacts {
        &__subtitle {
            margin: 0;
            line-height: 25px;
        }
        &__headline {
            font-size: 21px;
        }
        &__content {
            margin: 10px 0 0 0;
            padding: 15px 0;
            &::after {
                right: 20%;
            }
        }
    }
}
@media (max-width: 576px) {
    .title {
        &_fz36 {
            font-size: 23px;
        }
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48{
            font-size: 35px;
        }
    }
    
    .promo {
        height: 730px;
        overflow: hidden;
        min-height: unset;
        padding-top: 0;
        &__title {
            line-height: 41px;

        }
        &__btns {
            margin-top: 5px;
        }
       
        &__portrait {
            top: 0;
            img {
                height: 90%;
            }
        }
        &__content {
            margin-top: 60px;
            margin-left: 20px;
        }
    }
    .about {
        height: calc(100% + 30px);
        &__main {
            &::after {
                display: none;

            }
            &-descr {
                margin-top: 10px;
                font-size: 23px;
            }
        }
        &__info {
            width: 100%;
            margin: 35px 0 0 0;
            text-align: right;
            &-descr {
                line-height: 13px;
                font-size: 11px;
            }
        }
    }
    
    .portfolio {
        padding-top: 90px;
        &__list {
            margin-top: 15px;
        }
        &__subtitle {
            text-align: right;
        }
        &__project {
            &-button {
                font-size: 17px;
                
            }
            &.active {
                margin: 0;
                span {
                    font-size: 18px;
                }
                &:before {
                    display: none;
                }
            }
        }
        &__content {
            flex-direction: column;
            padding: 0;
        }
        &__preview {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            &-img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
   
    .contacts {
        padding: 90px 0 15px 0;
        min-height: unset;
        height: 100%;
        .container {
            padding: 0 10px;
        }
        &__subtitle {
        display: none;
        }
        &__headline {
            margin-top: 15px;
            font-size: 19px;
        }
        &__content {
            &::after {
                display: none;
            }
        }
    }
    .title {
        &_fz48{
            font-size: 30px;
        }
    }
}